**/*.log
**/__pycache__
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/docker-compose*
**/Dockerfile*
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
README.md
**/sql
npm-debug.log

# Node storage system
node/storage
node_modules

# Apps and packages
.DS_Store
dist
.next
.cache
.env
.vercel
.nitro
.output
.tanstack
/build/
/public/build# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

