.component--theme-switch {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  color: white;
  min-width: 32px;
  padding: 5px 7px;
  border-radius: 4px;
  border: dashed 0.5px transparent;
  transition: all 250ms ease;
}

.component--theme-switch:active,
.component--theme-switch:focus {
  border: 1px #222222 solid;
  outline: none !important;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 4px;
}

.dark .component--theme-switch:active,
.dark .component--theme-switch:focus {
  border: 1px solid var(--gray-100);
}

.component--theme-switch .moon,
.component--theme-switch .light {
  transition: all 0.2s ease-in-out;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
}

.component--theme-switch .moon.shown,
.component--theme-switch .light.shown {
  opacity: 1;
  animation-name: spin;
  animation-duration: 0.3s;
  transform-origin: 46% 46%;
}

.component--theme-switch .moon.hidden,
.component--theme-switch .light.hidden {
  opacity: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
